<!doctype html>
<html lang="hu">
    <head>
        {# Required meta tags #}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

        {# bootstap included #}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        {# lightbox css #}
        <link rel="stylesheet" href="{{ asset('vendor/lightbox/css/lightbox.min.css') }}">

        <title>KMAK Kft.</title>
    </head>
    <body>
        <header>
            {% include 'default/header.html.twig' %}
        </header>

        {% block body %}{% endblock %}

        <footer class="bg-light">
            {% include 'default/footer.html.twig' %}
        </footer>

        {# Optional JavaScript #}
        {# jQuery first, then Popper.js, then Bootstrap JS - Popper js is included in bootstrap bundle! #}
        <script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>

        {# sizzle js - needed to lightbox #}
        <script src="{{ asset('vendor/sizzlejs/sizzle.js') }}"></script>

        {# lightbox js #}
        <script src="{{ asset('vendor/lightbox/js/lightbox.min.js') }}"></script>

        {# main js #}
        <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>