<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}">KMAK Kft.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if app.request.get('_route') == 'homepage' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Főoldal <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">Főoldal</a>
                    </li>
                {% endif %}


                {% if app.request.get('_route') == 'gallery' and app.request.get('slug') == 'viragok' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('gallery', {'slug': 'viragok'}) }}">Virágok galéria <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gallery', {'slug': 'viragok'}) }}">Virágok galéria</a>
                    </li>
                {% endif %}


                {% if app.request.get('_route') == 'gallery' and app.request.get('slug') == 'allatok' %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('gallery', {'slug': 'allatok'}) }}">Állatok galéria <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('gallery', {'slug': 'allatok'}) }}">Állatok galéria</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>