{% extends 'base.html.twig' %}

{% block body %}

    <section id="homepage">

        <div class="container">

            <h1>Galériák</h1>

            <div class="row">
                {% for gallery in galleries %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
                        <a href="{{ path('gallery', {'slug': gallery.slug}) }}">
                            <img src="{{ asset('images/' ~ gallery.slug ~ '/thumbs/' ~ gallery.coverImageFileName ~ '_tn.jpg') }}" alt="{{ gallery.slug }}">
                        </a>
                        <h2><a href="{{ path('gallery', {'slug': gallery.slug}) }}">{{ gallery.name }}</a></h2>
                        <p class="description">
                            {{ gallery.description }}
                        </p>
                    </div>
                {% endfor %}
            </div>

        </div>

    </section>

{% endblock %}