{% extends 'base.html.twig' %}

{% block body %}

    <section id="gallery">

        <div class="container">

            <h1>{{ gallery.name }}</h1>

            <div class="row">
                {% for picture in pictures %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 mb-5">
                        <a href="{{ asset('images/' ~ gallery.slug ~ '/' ~ picture.fileName ~ '.jpg') }}" data-lightbox="{{ gallery.slug }}">
                            <img src="{{ asset('images/' ~ gallery.slug ~ '/thumbs/' ~ picture.fileName ~ '_tn.jpg') }}" alt="{{ gallery.slug }}">
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>

    </section>

{% endblock %}