/*
    Imports
 */
// Overwrite bootstrap's things here
@import 'custom';

// Bootstrap
@import '../bootstrap/bootstrap';

/*
    Headings
 */
h1 {
    @include media-breakpoint-down(sm) {
        text-align: center;
    }

    margin-bottom: 1.5rem;
}

h2 {
    @include media-breakpoint-down(sm) {
        text-align: center;
    }

    margin-top: 1rem;
}

/*
    Images
 */
img {
    @include border-radius(5px);

    width: 100%;
}

/*
    Header
 */
header {
    font-size: 1rem;
}

/*
    Homepage
 */
#homepage {
    padding: 3rem 0;

    .description {
        text-align: justify;
    }
}

/*
    Gallery
 */
#gallery {
    padding: 3rem 0;
}

/*
    Footer
 */
footer {
    font-size: 1rem;
    padding: 3rem 0;
}